/pole_dataset
/balloon

/scripts/output
/scripts/output_pole
/scripts/output_pole_2
/scripts/output_pole_3
/scripts/output_pole_4
/scripts/output_pole_5

/scripts/pole_temp.py
/scripts/pole_temp_2.py
/scripts/pole_temp_3.py
/scripts/pole_temp_4.py
/scripts/pole_temp_5.py
/scripts/pole_test_2.py
/scripts/pole_train_2.py

/checkpoints
/checkpoint2
/checkpoint3
/checkpoint4
/checkpoint5


*.pth
